@import "./reset.css";

:root {
  --theme: #c8d635;
  --text: rgba(68, 77, 86, 1);
  --text-dark: rgba(33, 33, 33, 1);
  --shadow: #212121;
  --dark: #111827;
  --text-dark-gray: #374051;
  --green-gradient: linear-gradient(to right, #add100, #7b920a);

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
}
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
  padding: 1rem 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--theme);
}
/* .header__logo img {
  height: 55px;
} */
.header__download-btn {
  padding: 7px 1rem;
  font-weight: 500;
  border-radius: 3px;
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* --------------------------------------------------------- HERO */
.hero {
  background-image: url(../assets/bg.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 800px;
}
.hero__heading {
  font-size: 2rem;
  font-weight: 900;
  max-width: 750px;
  text-transform: capitalize;
  color: var(--theme);
  margin-bottom: 24px;
}
.hero__heading .lineOne {
  color: var(--dark);
  display: block;
}
.hero__heading .lineThree {
  color: var(--dark);
}
.hero__wrapper p {
  height: 1.3;
  font-size: 18px;
  max-width: 800px;
  color: var(--text-dark-gray);
}
.hero__btn {
  padding: 1rem;
  font-weight: 500;
  border-radius: 3px;
  max-width: 100%;
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
}

/* ----------------------------------------------------------------- END  */

/* ---------------------------------------------------------------- WHY DODOO  */
.whydodoo {
  background: var(--green-gradient);
}
.whydodoo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 120px 0;
}

.whydodoo__wrapper h2 > span {
  color: var(--dark);
}

.whydodoo__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 900px;
}
.whydodoo__cards-card {
  background: #aed1009a;
  text-align: center;
  padding: 24px;
  border-radius: 10px;
}
.whydodoo__cards-card img {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 50px;
}
.whydodoo__cards-card h3 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  color: var(--dark);
}
.whydodoo__cards-card p {
  max-width: 350px;
  color: var(--text-dark);
  font-size: 16px;
  line-height: 1.3;
}
/* ----------------------------------------------------------------- END  */
/* ************************************************************** COMMON Style */
.section__title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 56px;
}

.btn {
  background: var(--dark);
  border-radius: 3px;
  color: #fff;
  transition: background-color 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
.btn:hover {
  background: var(--theme);
}

.shadow {
  border: 2px solid #212121;
  border-radius: 7px;
  box-shadow: 4px 4px 0px #212121;
  transition: 0.1s var(--ease-in);
}
.shadow:hover {
  box-shadow: 8px 8px 0px #212121;
}
/* *************************************************************** */

/* -------------------------------------------------------------- SERVICES SECION  */
.services {
  padding: 120px 0;
  min-height: 100vh;
}
.services__title > span {
  color: var(--theme);
}
.services__title {
  text-align: center;
}
.services__cards-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1.5rem 3rem;
  min-height: 450px;
}

.services__cards-card-left {
  flex: 1;
  /* margin-top: 5rem; */
}

.services__cards-card-right {
  flex: 1;
}
.services__cards-card-left ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
}
.services__cards-card-left ul li {
  margin-bottom: 1rem;
  line-height: 1.3;
  font-size: 16px;
  color: var(--text-dark-gray);
}

/* -------------------------------------------------------------- END  */
/* -------------------------------------------------------------- SERVICES HOW TO ORDER  */
.howToOrder {
  padding-bottom: 120px;
}
.howToOrder__step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 550px;
}
.howToOrder__step__wrapper {
  display: flex;
  margin-top: 2rem;
}
.howToOrder__step-content img {
  /* width: 100%; */
  /* max-height: 400px; */
  margin-top: 1rem;
}
.howToOrder__step-content {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.howToOrder__step-content + .howToOrder__step-content {
  margin-left: 2rem;
}
.howToOrder__step-content > span {
  color: var(--dark);
  font-weight: 600;
}
/* -------------------------------------------------------------- END  */
/* -------------------------------------------------------------- SECTION DOWNLOAD NOW */
.downloadNow {
  padding: 120px 0;
  background: var(--green-gradient);
}
.downloadNow__title {
  color: #fff;
}
.downloadNow h2 span {
  color: var(--dark);
}
.downloadNow__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.downloadNow__buttons a + a {
  margin-top: 1rem;
  margin-left: 0;
}

/* -------------------------------------------------------------- END  */
/* -------------------------------------------------------------- SECTION GET IN TOUCH */

.getInTouch {
  padding: 120px 0;
}

.getInTouch__box {
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.getInTouch__box input[type="text"],
input[type="email"],
textarea {
  border: 0;
  outline: none;
  border-bottom: 1px solid #21212127;
  padding: 5px;
  margin-bottom: 1rem;
}

.getInTouch__box .getInTouch__btn {
  display: inline-block;
  max-width: 100px;
  text-align: center;
  padding: 7px 1rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* -------------------------------------------------------------- END  */
/* -------------------------------------------------------------- FOOTER */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.144);
  padding: 1rem 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer__wrapper span {
  font-size: 14px;
  color: var(--text-dark-gray);
  margin-bottom: 10px;
}
.footer__social__link ul {
  display: flex;
}
.footer__social__link ul li + li {
  margin-left: 1rem;
}
.footer__social__link li a > img {
  width: 25px;
}
/* -------------------------------------------------------------- END  */
/* -------------------------------------------------------------- Media Queries */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__btn {
    max-width: 150px;
  }
  .hero__wrapper p {
    font-size: 22px;
  }
  .section__title {
    font-size: 30px;
  }
  .whydodoo__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .downloadNow__buttons {
    flex-direction: row;
  }
  .downloadNow__buttons a + a {
    margin-top: 0;
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .hero__heading .lineThree {
    display: block;
  }
  .hero__heading {
    font-size: 60px;
  }
  .section__title {
    font-size: 45px;
  }
  .services__cards-card {
    flex-direction: row;
  }
  .services__cards-card-left ul li {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .footer__wrapper {
    flex-direction: row;
  }
  .footer__wrapper span {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
